
/* .card-container{
    display: grid;

}
.Super{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}
body{
    display: grid;
} */

